<nav>
    <div class="left-nav">
        <img src="./images/logo.png" alt="" width = "128px">
    </div>
    <div class="center-nav">
        <a href="/">Главная</a>
        <a href="/shop">Магазин</a>
    </div>
    <div class="right-nav">
        <a href="/profile"><img src="./images/anon.png" alt="" width = "128px"></a>
        <a href="/start_game" class = "profile-a">Создать комнату</a>
        <a href="/con_battle" class = "profile-a">Поиск</a>
    </div>
</nav>
